<section id="cases" class="faq">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Cases</h2>
      <p>Helping Hand Cases</p>
    </div>
    <ul class="faq-list">
      <li *ngFor="let caseItem of cases">
        <div data-bs-toggle="collapse" class="collapsed question" [attr.href]="'#faq' + caseItem.caseNumber">
          {{ caseItem.title }}
          <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div [id]="'faq' + caseItem.caseNumber" class="collapse" data-bs-parent=".faq-list">
          <div class="row">
            <div class="col">
              <div class="mt-5">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Amount</th>
                      <th>Receiving Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let donation of caseItem.donations">
                      <td>{{ donation.amount }}</td>
                      <td>{{ donation.date }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col">
              <div class="col mt-5 text-center">
                <h3 class="faq-case-detail-h3">Case Started</h3>
                <h5 class="faq-case-detail-h5">{{ caseItem.startDate }}</h5>
              </div>
              <div class="col mt-5 text-center">
                <h3 class="faq-case-detail-h3">Expected Amount</h3>
                <h5 class="faq-case-detail-h5"><span *ngIf="caseItem.expectedAmount">Rs.</span> {{ caseItem.expectedAmount || 'N/A'}}</h5>
              </div>
              <div class="col mt-5 text-center">
                <h3 class="faq-case-detail-h3">Collected Amount</h3>
                <h5 class="faq-case-detail-h5">Rs. {{ caseItem.collectedAmount }}</h5>
              </div>
              <div class="col mt-5 text-center">
                <h3 class="faq-case-detail-h3">Case Handler</h3>
                <h5 class="faq-case-detail-h5">{{ caseItem.handler }}</h5>
              </div>
              <div class="col mt-5 text-center">
                <h3 class="faq-case-detail-h3">Status</h3>
                <h5 class="faq-case-detail-h5">{{ caseItem.status }}</h5>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
