<section id="cta" class="cta">
  <div class="container">
    <div class="row" data-aos="zoom-out">
      <div class="col-lg-9 text-center text-lg-start">
        <h3>Roles And Responsibilities</h3>
        <p>
          At Helping Hand, we have defined specific roles and responsibilities
          to ensure our mission is accomplished effectively. Each member plays a
          crucial part in our success, adhering to our guidelines to provide the
          best support possible to those in need.
        </p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a id="cta-btn" class="cta-btn align-middle" target="_blank"
          >View Guidlines</a
        >
      </div>
    </div>
  </div>
</section>
