<section id="drive" class="faq">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Drive</h2>
      <p>Ramadan Drive</p>
    </div>
    <!-- Content Data of Ramadan drive -->
    <div class="row">
      <!-- Total zakat funds -->
      <div class="col-xl-3 col-md-6 mb-4" data-aos="zoom-in-left">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Total Zakat Funds
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  Rs. 2,32,300
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-handshake fa-2x text-primary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total donation funds -->
      <div
        class="col-xl-3 col-md-6 mb-4"
        data-aos="zoom-in-left"
        data-aos-delay="100"
      >
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                >
                  Total Donation Funds
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  Rs. 73,200
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-donate fa-2x text-warning"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total ration quantity -->
      <div
        class="col-xl-3 col-md-6 mb-4"
        data-aos="zoom-in-left"
        data-aos-delay="200"
      >
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-info text-uppercase mb-1"
                >
                  Total Ration Quantity
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                      56
                    </div>
                  </div>
                  <!-- <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div> -->
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-seedling fa-2x text-info"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total net amount -->
      <div
        class="col-xl-3 col-md-6 mb-4"
        data-aos="zoom-in-left"
        data-aos-delay="300"
      >
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-success text-uppercase mb-1"
                >
                  Total Net Amount
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  Rs. 3,05,500
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-success"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="faq-list mt-5">
      <!-- Zakat & donation report -->
      <li>
        <div
          data-bs-toggle="collapse"
          href="#drive1"
          class="collapsed question"
        >
          Zakat & donations report<i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="drive1" class="collapse" data-bs-parent=".faq-list">
          <div class="row">
            <div class="col">
              <div class="mt-5 table-overflow-content">
                <table
                  class="table table-bordered"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                >
                  <thead>
                    <tr>
                      <th>Sr.</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Date</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Ali Hasnain</td>
                      <td>Zakat</td>
                      <td>March 16, 2024</td>
                      <td>92,000</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Haider Ejaz</td>
                      <td>Zakat</td>
                      <td>March 16, 2024</td>
                      <td>37,000</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Shaheer Khan</td>
                      <td>Zakat</td>
                      <td>March 16, 2024</td>
                      <td>23,000</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Aamir Sohai</td>
                      <td>Zakat</td>
                      <td>March 16, 2024</td>
                      <td>5000</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Shahzaib Ali</td>
                      <td>Zakat</td>
                      <td>March 16, 2024</td>
                      <td>28,000</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Hassan Maqbool</td>
                      <td>Zakat</td>
                      <td>March 16, 2024</td>
                      <td>10,000</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>Haider Ejaz</td>
                      <td>Zakat</td>
                      <td>March 18, 2024</td>
                      <td>5000</td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td>Haider Ejaz</td>
                      <td>Zakat</td>
                      <td>March 18, 2024</td>
                      <td>7000</td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td>Shahzaib Ali</td>
                      <td>Donations</td>
                      <td>March 20, 2024</td>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>Shahzaib Ali</td>
                      <td>Zakat</td>
                      <td>March 20, 2024</td>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <td>11</td>
                      <td>Haider Ejaz</td>
                      <td>Zakat</td>
                      <td>March 20, 2024</td>
                      <td>5000</td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td>Shaheer Khan</td>
                      <td>Donations</td>
                      <td>March 21, 2024</td>
                      <td>10,000</td>
                    </tr>
                    <tr>
                      <td>13</td>
                      <td>Shaheer Khan</td>
                      <td>Zakat</td>
                      <td>March 21, 2024</td>
                      <td>10,000</td>
                    </tr>
                    <tr>
                      <td>14</td>
                      <td>Ali Hasnain</td>
                      <td>Donations</td>
                      <td>March 22, 2024</td>
                      <td>500</td>
                    </tr>
                    <tr>
                      <td>15</td>
                      <td>Shahzaib Ali</td>
                      <td>Donations</td>
                      <td>March 22, 2024</td>
                      <td>2500</td>
                    </tr>
                    <tr>
                      <td>16</td>
                      <td>Shahzaib Ali (For Ration)</td>
                      <td>Zakat</td>
                      <td>March 23, 2024</td>
                      <td>2500</td>
                    </tr>
                    <tr>
                      <td>17</td>
                      <td>Haider Ejaz</td>
                      <td>Zakat</td>
                      <td>March 23, 2024</td>
                      <td>5000</td>
                    </tr>
                    <tr>
                      <td>18</td>
                      <td>Haider, Shaheer, Ali, Shahzaib, Hassan, Amir</td>
                      <td>Zakat</td>
                      <td>March 23, 2024</td>
                      <td>1800</td>
                    </tr>
                    <tr>
                      <td>19</td>
                      <td>Ali Hasnain</td>
                      <td>Donations</td>
                      <td>March 26, 2024</td>
                      <td>5000</td>
                    </tr>
                    <tr>
                      <td>20</td>
                      <td>Haider Ejaz</td>
                      <td>Donations</td>
                      <td>March 26, 2024</td>
                      <td>8000</td>
                    </tr>
                    <tr>
                      <td>21</td>
                      <td>Shaheer Khan</td>
                      <td>Donations</td>
                      <td>April 4, 2024</td>
                      <td>20,000</td>
                    </tr>
                    <tr>
                      <td>22</td>
                      <td>Shaheer Khan</td>
                      <td>Donations</td>
                      <td>April 5, 2024</td>
                      <td>7200</td>
                    </tr>
                    <tr>
                      <td>23</td>
                      <td>Ali Hasnain</td>
                      <td>Donations</td>
                      <td>April 7, 2024</td>
                      <td>6000</td>
                    </tr>
                    <tr>
                      <td>24</td>
                      <td>Ali Hasnain</td>
                      <td>Donations</td>
                      <td>April 7, 2024</td>
                      <td>500</td>
                    </tr>
                    <tr>
                      <td>25</td>
                      <td>Ali Hasnain</td>
                      <td>Donations</td>
                      <td>April 8, 2024</td>
                      <td>5000</td>
                    </tr>
                    <tr>
                      <td>26</td>
                      <td>Shaheer Khan</td>
                      <td>Donations</td>
                      <td>April 8, 2024</td>
                      <td>7500</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- <div class="col">
                <div class="col mt-5 text-center">
                  <h3>Ramadan Started</h3>
                  <h5>March 12, 2024</h5>
                </div>
                <div class="col mt-5 text-center">
                  <h3>Total Zakat Funds</h3>
                  <h5>Rs. 2,32,300</h5>
                </div>
                <div class="col mt-5 text-center">
                  <h3>Total Donation Funds</h3>
                  <h5>Rs. 73,200</h5>
                </div>
                <div class="col mt-5 text-center">
                  <h3>Collected Amount</h3>
                  <h5>Rs. 3,05,500</h5>
                </div>
                <div class="col mt-5 text-center">
                  <h3>Status</h3>
                  <h5>Completed</h5>
                </div>
              </div> -->
          </div>
        </div>
      </li>
      <!-- Distribution report -->
      <li>
        <div
          data-bs-toggle="collapse"
          href="#drive2"
          class="collapsed question"
        >
          Distribution report<i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="drive2" class="collapse" data-bs-parent=".faq-list">
          <div class="row">
            <div class="col">
              <div class="mt-5 table-overflow-content">
                <table
                  class="table table-bordered"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                >
                  <thead>
                    <tr>
                      <th>Sr.</th>
                      <th>Name</th>
                      <th>Purpose</th>
                      <th>Quantity</th>
                      <th>Price/MU</th>
                      <th>Discount</th>
                      <th>Type</th>
                      <th>Notes</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Metro</td>
                      <td>Ration Boxes</td>
                      <td>56</td>
                      <td>1734</td>
                      <td>0</td>
                      <td>Zakat</td>
                      <td></td>
                      <td>97,106</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Metro</td>
                      <td>Ration Boxes</td>
                      <td>1</td>
                      <td>1734</td>
                      <td>1198</td>
                      <td>Zakat</td>
                      <td>Loyalty points Discount (1198) LOST - COMPENSATED</td>
                      <td>536</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Flour</td>
                      <td>Flour Bags</td>
                      <td>56</td>
                      <td>740</td>
                      <td>0</td>
                      <td>Zakat</td>
                      <td></td>
                      <td>41,440</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Money</td>
                      <td>Transferred to Aamir</td>
                      <td>10</td>
                      <td>2474</td>
                      <td>0</td>
                      <td>Zakat</td>
                      <td>
                        Money instead of ration bags - Settlement details not
                        mentioned
                      </td>
                      <td>24,740</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Money</td>
                      <td>Transferred to Shaheer</td>
                      <td>4</td>
                      <td>2474</td>
                      <td>0</td>
                      <td>Zakat</td>
                      <td>
                        Money instead of ration bags - Settlement details not
                        mentioned
                      </td>
                      <td>9896</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Money</td>
                      <td>Transferred to Haider</td>
                      <td>2</td>
                      <td>2474</td>
                      <td>0</td>
                      <td>Zakat</td>
                      <td>Needed payment instead of ration bags</td>
                      <td>4948</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>Money</td>
                      <td>
                        For the case of Masjid Imam who needed money for books
                      </td>
                      <td colspan="3">
                        This was fully covered by Helping Hand team
                      </td>
                      <td>Zakat</td>
                      <td>Needed total: 13000 / by Ali</td>
                      <td>13,000</td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td>Money</td>
                      <td>For the case of Food panda driver</td>
                      <td colspan="3"></td>
                      <td>Zakat</td>
                      <td>Needed ration: unknown / By Shaheer</td>
                      <td>2474</td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td>Money</td>
                      <td>For the case of Food panda driver</td>
                      <td colspan="3"></td>
                      <td>Zakat</td>
                      <td>Needed ration: unknown / By Shaheer</td>
                      <td>2500</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>Money</td>
                      <td>For the case of Shahzaib's Friend Family</td>
                      <td colspan="3"></td>
                      <td>Zakat</td>
                      <td>Needed ration: unknown / By Shahzaib</td>
                      <td>4700</td>
                    </tr>
                    <tr>
                      <td>11</td>
                      <td>Money</td>
                      <td>For the case of Swat Family</td>
                      <td colspan="3"></td>
                      <td>Zakat</td>
                      <td>Needed ration: unknown / By Shahzaib</td>
                      <td>12,000</td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td>Money</td>
                      <td>For the case of Fsd Family</td>
                      <td colspan="3"></td>
                      <td>Zakat</td>
                      <td>Needed ration: unknown / By Haider</td>
                      <td>6000</td>
                    </tr>
                    <tr>
                      <td>13</td>
                      <td>Money</td>
                      <td>For the case of gym guard and another family</td>
                      <td colspan="3"></td>
                      <td>Zakat</td>
                      <td>Needed ration: unknown / By Shaheer</td>
                      <td>5000</td>
                    </tr>
                    <tr>
                      <td>14</td>
                      <td>Money</td>
                      <td>For the case of workers in mill</td>
                      <td colspan="3"></td>
                      <td>Zakat</td>
                      <td>Needed ration: unknown / By Haider</td>
                      <td>6000</td>
                    </tr>
                    <tr>
                      <td>15</td>
                      <td>Money</td>
                      <td>For Ramadan Iftar Drive</td>
                      <td colspan="3"></td>
                      <td>Donations</td>
                      <td>Collaborated with Silent Steps</td>
                      <td>19,000</td>
                    </tr>
                    <tr>
                      <td>16</td>
                      <td>Money</td>
                      <td>For the case of Shahzaib's Friend Family</td>
                      <td colspan="3"></td>
                      <td>Zakat</td>
                      <td>Needed ration: unknown / By Shahzaib</td>
                      <td>1960</td>
                    </tr>
                    <tr>
                      <td>17</td>
                      <td>Money</td>
                      <td>For Ramadan Iftar Drive</td>
                      <td colspan="3">
                        This was fully covered by Helping Hand Team
                      </td>
                      <td>Donations</td>
                      <td>
                        At usmania Masjid (Fruits: 5400), (Khajoor + Rooh Afza +
                        Sugar = 2880), (Daig: 14000), (Rent: 700), (Crockery:
                        1276 )
                      </td>
                      <td>24,256</td>
                    </tr>
                    <tr>
                      <td>18</td>
                      <td>Money</td>
                      <td>For Ramadan Iftar Drive</td>
                      <td colspan="3">
                        This was fully covered by Helping Hand Team
                      </td>
                      <td>Donations</td>
                      <td>At usmania Masjid (Daig: 14000), (Rent: 700)</td>
                      <td>14,700</td>
                    </tr>
                    <tr>
                      <td>19</td>
                      <td>Money</td>
                      <td>For Ramadan Iftar Drive</td>
                      <td colspan="3">
                        This was fully covered by Helping Hand Team
                      </td>
                      <td>Donations</td>
                      <td>(Boxes: 9700), (Rent: 300)</td>
                      <td>10,000</td>
                    </tr>
                    <tr>
                      <td>20</td>
                      <td>Money</td>
                      <td>For Ramadan Iftar Drive</td>
                      <td colspan="3">
                        This was fully covered by Helping Hand Team
                      </td>
                      <td>Donations</td>
                      <td>Juices</td>
                      <td>5244</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- <div class="col">
                <div class="col mt-5 text-center">
                  <h3>Case Started</h3>
                  <h5>May 5, 2024</h5>
                </div>
                <div class="col mt-5 text-center">
                  <h3>Expected Amount</h3>
                  <h5>Rs. 30000</h5>
                </div>
                <div class="col mt-5 text-center">
                  <h3>Collected Amount</h3>
                  <h5>Rs. 30000</h5>
                </div>
                <div class="col mt-5 text-center">
                  <h3>Case Handler</h3>
                  <h5>Shahzaib Ali</h5>
                </div>
                <div class="col mt-5 text-center">
                  <h3>Status</h3>
                  <h5>Completed</h5>
                </div>
              </div> -->
          </div>
        </div>
      </li>
      <!-- Ration bags & flour report -->
      <li>
        <div
          data-bs-toggle="collapse"
          href="#drive3"
          class="collapsed question"
        >
          Ration bags & flour distribution report<i
            class="bi bi-chevron-down icon-show"
          ></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="drive3" class="collapse" data-bs-parent=".faq-list">
          <div class="row">
            <div class="col">
              <div class="mt-5 table-overflow-content">
                <table
                  class="table table-bordered"
                  id="dataTable"
                  width="100%"
                  cellspacing="0"
                >
                  <thead>
                    <tr>
                      <th>Sr.</th>
                      <th>Name</th>
                      <th>Item</th>
                      <th>Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Ali Hasnain</td>
                      <td>One ration box & 5kg flour</td>
                      <td>29</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Haider Ejaz</td>
                      <td>One ration box & 5kg flour</td>
                      <td>13</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Shaheer Khan</td>
                      <td>One ration box & 5kg flour</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Aamir Sohail</td>
                      <td>One ration box & 5kg flour</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Shahzaib Ali</td>
                      <td>One ration box & 5kg flour</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Hassan Maqbool</td>
                      <td>One ration box & 5kg flour</td>
                      <td>4</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- <div class="col">
                <div class="col mt-5 text-center">
                  <h3>Ramadan Started</h3>
                  <h5>March 12, 2024</h5>
                </div>
                <div class="col mt-5 text-center">
                  <h3>Total Quantity</h3>
                  <h5>56</h5>
                </div>
                <div class="col mt-5 text-center">
                  <h3>Status</h3>
                  <h5>Completed</h5>
                </div>
              </div> -->
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
