<section id="testimonials" class="testimonials">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Team</h2>
      <p>Core Team Members</p>
    </div>

    <div
      class="testimonials-slider swiper"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <!-- <img src="assets/img/team/unknown-user.png" class="testimonial-img" alt=""> -->
            <img
              src="assets/img/team/Haider-HH.png"
              class="testimonial-img"
              alt=""
            />
            <h3 class="mt-4">{{ teamMembers.MUHAMMAD_HAIDER_EJAZ }}</h3>
            <h4 class="mt-3">Web Operations Administrator</h4>
            <h4 class="mt-2">Field Operations Specialist</h4>
            <h4 class="mt-2">Graphical Content Creator</h4>
            <h4 class="mt-2">Case Coordinator</h4>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="assets/img/team/Ali-HH.png"
              class="testimonial-img"
              alt=""
            />
            <h3 class="mt-4">{{ teamMembers.ALI_HASNAIN }}</h3>
            <h4 class="mt-3">Field operations specialist</h4>
            <h4 class="mt-2">Social Media Strategist</h4>
            <h4 class="mt-2">Media Content Creator</h4>
            <h4 class="mt-2">Case Coordinator</h4>
            <h4 class="mt-2">Logistics Head</h4>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <!-- <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p> -->
            <img
              src="assets/img/team/Shahzaib-HH.png"
              class="testimonial-img"
              alt=""
            />
            <h3 class="mt-4">{{ teamMembers.SHAHZAIB_ALI }}</h3>
            <h4 class="mt-3">Field operations specialist</h4>
            <h4 class="mt-2">Financial Administrator</h4>
            <h4 class="mt-2">Media Content Creator</h4>
            <h4 class="mt-2">Communication Head</h4>
            <h4 class="mt-2">Case Coordinator</h4>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="assets/img/team/Hassan-HH.png"
              class="testimonial-img"
              alt=""
            />
            <h3 class="mt-4">{{ teamMembers.HASSAN_MAQBOOL }}</h3>
            <h4 class="mt-3">Field Operations Specialist</h4>
            <h4 class="mt-2">Media Content Creator</h4>
            <h4 class="mt-2">Logistics Head</h4>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="assets/img/team/Aamir-HH.png"
              class="testimonial-img"
              alt=""
            />
            <h3 class="mt-4">Aamir Sohail</h3>
            <h4 class="mt-3">Social Media Strategist</h4>
            <h4 class="mt-2">Case Coordinator</h4>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img
              src="assets/img/team/Shaheer-HH.png"
              class="testimonial-img"
              alt=""
            />
            <h3 class="mt-4">{{ teamMembers.SHAHEER_KHAN }}</h3>
            <h4 class="mt-3">Field Operations Specialist</h4>
            <h4 class="mt-2">Graphical Content Creator</h4>
            <h4 class="mt-2">Media Content Creator</h4>
            <h4 class="mt-2">Logistics Head</h4>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
