<section
  id="hero"
  class="d-flex flex-column justify-content-end align-items-center"
>
  <div
    id="heroCarousel"
    data-bs-interval="5000"
    class="container carousel carousel-fade"
    data-bs-ride="carousel"
  >
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">
          Welcome To <span>Helping Hand</span>
        </h2>
        <p class="animate__animated fanimate__adeInUp">
          Helping Hand Foundation is a dedicated charity organization committed
          to making a tangible difference in the lives of those in need. Founded
          on the principles of compassion, integrity, and service, we strive to
          provide essential support and assistance to individuals and
          communities facing adversity.
        </p>
        <a
          href="#cta"
          class="btn-get-started animate__animated animate__fadeInUp scrollto"
          >Read More</a
        >
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">
          Our <span>Mission</span>
        </h2>
        <p class="animate__animated animate__fadeInUp">
          Our mission is simple yet profound: to extend a helping hand to those
          who are struggling and in need of assistance. Through our multifaceted
          approach, which includes fundraising initiatives, food drives, and
          direct donations, we aim to alleviate hardship, foster resilience, and
          inspire hope in the hearts of those we serve.
        </p>
        <a
          href="#cta"
          class="btn-get-started animate__animated animate__fadeInUp scrollto"
          >Read More</a
        >
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">
          Invest In <span> Your Afterlife</span>
        </h2>
        <p class="animate__animated animate__fadeInUp">
          Join us in our mission to spread kindness and make a meaningful
          difference in the lives of others. Whether through volunteering,
          donating, or advocating for our cause, your support can help us extend
          our helping hand to those in need.
        </p>
        <a
          href="#cta"
          class="btn-get-started animate__animated animate__fadeInUp scrollto"
          >Read More</a
        >
      </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#heroCarousel"
      role="button"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon bx bx-chevron-left"
        aria-hidden="true"
      ></span>
    </a>

    <a
      class="carousel-control-next"
      href="#heroCarousel"
      role="button"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon bx bx-chevron-right"
        aria-hidden="true"
      ></span>
    </a>
  </div>

  <svg
    class="hero-waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 "
    preserveAspectRatio="none"
  >
    <defs>
      <path
        id="wave-path"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      ></path>
    </defs>
    <!-- <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
    </g> -->
    <g class="wave1">
      <use
        xlink:href="#wave-path"
        x="50"
        y="3"
        fill="rgba(22, 143, 122, 0.3)"
      ></use>
    </g>
    <g class="wave2">
      <use
        xlink:href="#wave-path"
        x="50"
        y="0"
        fill="rgba(3, 107, 88, 0.4)"
      ></use>
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
    </g>
  </svg>
</section>
