<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Activity</h2>
      <p>What we've done</p>
    </div>

    <ul id="portfolio-flters" data-aos="fade-up">
      <li data-filter="*" class="filter-active">All</li>
      <li data-filter=".filter-app">Ramadan Drive</li>
      <li data-filter=".filter-card">Food Drive</li>
      <li data-filter=".filter-web">Juice Drive</li>
    </ul>

    <div class="row portfolio-container" data-aos="fade-up">
      <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img"><img src="assets/img/portfolio/Ramadan_drive_1.jpeg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>Ration boxes with Helping Hand logo</h4>
            <p>Ramadan Drive</p>
            <a href="assets/img/portfolio/Ramadan_drive_1.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Show image"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div> -->

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-flip-container">
          <div class="portfolio-card">
            <div class="portfolio-front">
              <div class="portfolio-img">
                <img
                  src="assets/img/portfolio/Ramadan_drive_1.jpeg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="portfolio-info">
                <h4>Ration boxes with Helping Hand logo</h4>
                <p>Ramadan Drive</p>
                <!-- <a href="assets/img/portfolio/Ramadan_drive_1.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Show image"><i class="bx bx-plus"></i></a> -->
                <a href="#" class="details-link" title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
            <div class="portfolio-back">
              <h4>Details</h4>
              <div class="portfolio-back-details">
                <p>Total ration boxes: 56</p>
                <p>Cost of one ration package: 2474</p>
                <p>We catered more than 85+ families</p>
                <p>in ration drive</p>
                <a href="#" class="back-link back-link-btn"
                  ><i class="bx bx-arrow-back"></i> Go Back</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-flip-container">
          <div class="portfolio-card">
            <div class="portfolio-front">
              <div class="portfolio-img">
                <img
                  src="assets/img/portfolio/Juice_drive_1.jpeg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="portfolio-info">
                <h4>Juice boxes for distribution</h4>
                <p>Juice Drive</p>
                <!-- <a href="assets/img/portfolio/Juice_drive_1.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Show image"><i class="bx bx-plus"></i></a> -->
                <a
                  href="portfolio-details.html"
                  class="details-link"
                  title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
            <div class="portfolio-back">
              <h4>Details</h4>
              <div class="portfolio-back-details">
                <p>Total juice boxes: 270 approx</p>
                <p>Cost of one juice box: 50 approx</p>
                <p>We distributed more than 270+ juices</p>
                <p>in juice drive</p>
                <a href="#" class="back-link back-link-btn"
                  ><i class="bx bx-arrow-back"></i> Go Back</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-flip-container">
          <div class="portfolio-card">
            <div class="portfolio-front">
              <div class="portfolio-img">
                <img
                  src="assets/img/portfolio/Ramadan_drive_2.jpeg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="portfolio-info">
                <h4>Flour bags for distribution</h4>
                <p>Ramadan Drive</p>
                <!-- <a href="assets/img/portfolio/Ramadan_drive_2.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Show image"><i class="bx bx-plus"></i></a> -->
                <a
                  href="portfolio-details.html"
                  class="details-link"
                  title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
            <div class="portfolio-back">
              <h4>Details</h4>
              <div class="portfolio-back-details">
                <p>Total flour bags: 60</p>
                <p>Cost of one flour bag: 740</p>
                <p>We catered more than 85+ families</p>
                <p>in ration drive</p>
                <a href="#" class="back-link back-link-btn"
                  ><i class="bx bx-arrow-back"></i> Go Back</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-flip-container">
            <div class="portfolio-card">
              <div class="portfolio-front">
                <div class="portfolio-img"><img src="assets/img/portfolio/Food_drive_1.jpeg" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>Rice boxes for distribution</h4>
                <p>Food Drive</p>
                <a href="assets/img/portfolio/Food_drive_1.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Show image"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
              </div>
              <div class="portfolio-back">
                <h4>Details</h4>
                <div class="portfolio-back-details">
                  <p>Total Rice boxes: 200 approx</p>
                  <p>Cost of one Rice box: 150 approx</p>
                  <p>We distributed more than 200+ Rice</p>
                  <p>boxes in food drive</p>
                  <a href="#" class="back-link back-link-btn"><i class="bx bx-arrow-back"></i> Go Back</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-flip-container">
            <div class="portfolio-card">
              <div class="portfolio-front">
                <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                  <h4>Web 2</h4>
                  <p>Web</p>
                  <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Show image"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
              <div class="portfolio-back">
                <h4>Details</h4>
                <div class="portfolio-back-details">
                  <p>Total Rice boxes: 200 approx</p>
                  <p>Cost of one Rice box: 150 approx</p>
                  <p>We distributed more than 200+ Rice</p>
                  <p>boxes in food drive</p>
                  <a href="#" class="back-link back-link-btn"><i class="bx bx-arrow-back"></i> Go Back</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-flip-container">
          <div class="portfolio-card">
            <div class="portfolio-front">
              <div class="portfolio-img">
                <img
                  src="assets/img/portfolio/Ramadan_drive_3.jpeg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="portfolio-info">
                <h4>Ration boxes purchased from Metro</h4>
                <p>Ramadan Drive</p>
                <!-- <a href="assets/img/portfolio/Ramadan_drive_3.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Show image"><i class="bx bx-plus"></i></a> -->
                <a
                  href="portfolio-details.html"
                  class="details-link"
                  title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
            <div class="portfolio-back">
              <h4>Details</h4>
              <div class="portfolio-back-details">
                <p>Total ration boxes: 56</p>
                <p>Cost of one ration package: 2474</p>
                <p>We catered more than 85+ families</p>
                <p>in ration drive</p>
                <a href="#" class="back-link back-link-btn"
                  ><i class="bx bx-arrow-back"></i> Go Back</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-flip-container">
          <div class="portfolio-card">
            <div class="portfolio-front">
              <div class="portfolio-img">
                <img
                  src="assets/img/portfolio/Food_drive_2.jpeg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="portfolio-info">
                <h4>Dastarkhwan at Usmania Masjid</h4>
                <p>Food Drive</p>
                <!-- <a href="assets/img/portfolio/Food_drive_2.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Show image"><i class="bx bx-plus"></i></a> -->
                <a
                  href="portfolio-details.html"
                  class="details-link"
                  title="More Details"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
            <div class="portfolio-back">
              <h4>Details</h4>
              <div class="portfolio-back-details">
                <p>Total Rice boxes: 60 approx</p>
                <p>Cost of one Rice box: 150 approx</p>
                <p>We catered more than 50+ people</p>
                <p>in food drive</p>
                <a href="#" class="back-link back-link-btn"
                  ><i class="bx bx-arrow-back"></i> Go Back</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-flip-container">
            <div class="portfolio-card">
              <div class="portfolio-front">
                <div class="portfolio-img"><img src="assets/img/portfolio/Food_drive_3.png" class="img-fluid" alt=""></div>
                <div class="portfolio-info">
                  <h4>Card 3</h4>
                  <p>Food Drive</p>
                  <a href="assets/img/portfolio/Food_drive_3.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Show image"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
              <div class="portfolio-back">
                <h4>Details</h4>
                <div class="portfolio-back-details">
                  <p>Total Rice boxes: 200 approx</p>
                  <p>Cost of one Rice box: 150 approx</p>
                  <p>We distributed more than 200+ Rice</p>
                  <p>boxes in food drive</p>
                  <a href="#" class="back-link back-link-btn"><i class="bx bx-arrow-back"></i> Go Back</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Show image"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div> -->
    </div>
  </div>
</section>
